n8n/workflow.json
{
  "name": "Lead Intake Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3bdf2118-2aca-4ae5-ad4e-1b2922e8a0bf",
      "name": "Every 2 Minutes"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17yh77pQvLqw5Lrk-5I8RZJIq_bJwCYVTJkP9oKtKe9Y",
          "mode": "list",
          "cachedResultName": "Lead Intake System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17yh77pQvLqw5Lrk-5I8RZJIq_bJwCYVTJkP9oKtKe9Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 556920569,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17yh77pQvLqw5Lrk-5I8RZJIq_bJwCYVTJkP9oKtKe9Y/edit#gid=556920569"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "READY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "bd14558a-cbda-4b4a-b97c-2188a090b30c",
      "name": "Get READY Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UECVAb9zQuNuKoG0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17yh77pQvLqw5Lrk-5I8RZJIq_bJwCYVTJkP9oKtKe9Y",
          "mode": "list",
          "cachedResultName": "Lead Intake System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17yh77pQvLqw5Lrk-5I8RZJIq_bJwCYVTJkP9oKtKe9Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 556920569,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17yh77pQvLqw5Lrk-5I8RZJIq_bJwCYVTJkP9oKtKe9Y/edit#gid=556920569"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "PROCESSING",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed At",
              "displayName": "Processed At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "f90cb5ad-2f85-4323-a025-d042b05efaa4",
      "name": "Set PROCESSING Lock",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UECVAb9zQuNuKoG0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:14b"
            },
            {
              "name": "=prompt",
              "value": "=Summarize this lead for a sales team in 2-3 sentences. Name: {{ $('Get READY Leads').item.json['Full Name'] }}. Company: {{ $('Get READY Leads').item.json['Company'] }}. Message: {{ $('Get READY Leads').item.json['Message'] }}."
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "3aeefcc5-0e5e-456f-8e7a-5a7d50bdf7ac",
      "name": "Generate AI Summary"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17yh77pQvLqw5Lrk-5I8RZJIq_bJwCYVTJkP9oKtKe9Y",
          "mode": "list",
          "cachedResultName": "Lead Intake System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17yh77pQvLqw5Lrk-5I8RZJIq_bJwCYVTJkP9oKtKe9Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 556920569,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17yh77pQvLqw5Lrk-5I8RZJIq_bJwCYVTJkP9oKtKe9Y/edit#gid=556920569"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get READY Leads').item.json.row_number }}",
            "Status": "DONE",
            "AI Summary": "={{ $json.response }}",
            "Processed At": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed At",
              "displayName": "Processed At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "607f6cd0-1e18-4a82-9ff2-26d11f67a747",
      "name": "Write Summary + Set DONE",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UECVAb9zQuNuKoG0",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Get READY Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get READY Leads": {
      "main": [
        [
          {
            "node": "Set PROCESSING Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set PROCESSING Lock": {
      "main": [
        [
          {
            "node": "Generate AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Summary": {
      "main": [
        [
          {
            "node": "Write Summary + Set DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5903c6bd-ff9d-498f-97c6-acbc004d4d46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "984cd8045151594edc12e121fb15611db0170a5c1e87d2257f277bcef41118ff"
  },
  "id": "H11F9xSphMb7oi6G",
  "tags": []
}